@media(max-width:680px) {
    .DTS {
        height: 80px;
    }
    .content {
        width: 80%;
        margin: 0 auto 20px;

    }

    hr {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .rightContent {
        width: 100%;
        float: right;
    }
    .leftContent {
        width: 100%;
        float: left;
    }
    .icon img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        float: left;
        margin-top: 20px;
    }
    .photo img {
        float: right;
        border-radius: 50%;
        width: 170px;
        height: 170px;
        margin-right: 40px;
    }

    .icon1 img {
        float: right;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    .photo1 img {
        float: left;
        border-radius: 50%;
        width: 170px;
        height: 170px;
        margin-left: 40px;
    }
    .navbar {
        position: relative;
    }
    .nav {
        display: none;
        position: absolute;
        right: -2%;
        top: 65%;
        background: #000;
        padding: 40px 10px 10px;
    }
    .nav-item {
        display: block;
    }
    .nav-toggle {
        display: block;
    }
}
