
html,body {
    background-color: bisque;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans',cursive;
}

header {
    background: #000;
}

a {
    text-decoration: none;
}

.DTS {
    height: 80px;
}
.content {
    width: 80%;
    margin: 0 auto 50px;
}

hr {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.rightContent {
    width: 50%;
    float: right;
}
.leftContent {

    width: 50%;
    float: left;
}
.icon img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}
.photo img {
    float: right;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-right: 200px;
}
.photo1 img {
    border-radius: 50%;
    float: left;

    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-left: 200px;
}
.icon1 img {
    float: right;

    margin-right: 100px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
}



.header-container {
    width: 80%;
    margin: 0 auto;
}

.navbar-brand,
.nav-link:hover {
    color: #fff;
}
.nav-link {
    color: #eee;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-between;
}
.navbar-brand {
    float: left;
    font-size: 1.2rem;
    font-weight: bold;
}
.nav {
    float: right;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: inline-block;
    padding: 0 1rem;
}

.header__image_hero {
    background: url('../Image/hero.jpg') no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.nav-toggle {
    color: #fff;
    display: none;
    padding: 10px;
}


